<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.novice.flutter_ble_peripheral_central">
<!--    <uses-permission android:name="android.permission.BLUETOOTH" />-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />-->
<!--    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>-->
<!--    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>-->
<!--    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
</manifest>
